<h2><%= resource.full_name %></h2> <%= link_to raw('<span class="ui-icon ui-icon-wrench"></span>'), edit_polymorphic_path(resource), :class => :link %>
<script type="text/javascript">
	$(function(){
			$("#year").change(function(){
				location
			})
	})
</script>

Resultat 
<% if @year%>
	<%= "för år #{@year}"%>
<% end%>
<br />
<%# @years.map! do |y| y[1] = link_to y[1],{:controller => 'people', :action => 'show', :id => resource.id, :year =>y[0] } end %>
<% @years.each do |y| %>
	<%= (y == @year) ? y : link_to(y,{:controller => 'people', :action => 'show', :id => resource.id, :year =>y}) %>
<% end %>
<table class="untouched model">
  <thead>
    <tr>
      <th>Namn</th>

      <th>Tävling</th>
      <th>Datum</th>
      <th>Klass</th>
      <th>Placering</th>
      <th>Tid - vinnartid</th>
      <th>Poäng</th>
      <th>Skapad</th>
      <th>Uppdaterad</th>
    </tr>

  </thead>
  <tbody>
    <%  @results.each do |r|%>
      <tr>
        <%= render :partial => '/results/table_row', :object => r%>
      </tr>
    <% end %>
  </tbody>
</table>
