<h2><%= resource.name  %> <%= resource.date %></h2>
Eventor länk: <%= link_to resource.name, resource.eventor_url, :target => "_blank" %>
<p>
  <%= resource.comment %>
<p>
<table class="untouched model">
  <thead>
    <tr>
      <th>Namn</th>
      <th>Tävling</th>
      <th>Datum</th>
      <th>Klass</th>
      <th>Placering</th>
      <th>Tid - vinnartid</th>
      <th>Poäng</th>
      <th>Skapad</th>
      <th>Uppdaterad</th>
    </tr>

  </thead>
  <tbody>
    <%  resource.results.joins(:competition).order("competitions.date").each do |r|%>
      <tr>
        <%= render :partial => '/results/table_row', :object => r%>
      </tr>
      <% end %>
  </tbody>
</table>


