<% title  resource_class.model_name.human  

paginate = will_paginate collection, 
  :previous_label => '<',
  :next_label => '>',
  :params => {:sort => params[:sort], :direction => params[:direction]} 
%>
Antal: <%= collection.first.class.count rescue 0 %>
<div class="list">
  <%= link_to "Skapa", new_polymorphic_path(controller_name.singularize), :class => :create_link %>
  <%= paginate %>
  <%= form_for @search, :html => {:autocomplete => false} do |f| %>
    <table class="untouched model">
      <thead>
        <tr>
          <%= render :partial => 'table_head'%>
          <td>
            <%= link_to '', collection_path, :class => :reset_link %>
          </td>
        </tr>
        <tr>
          <%= render :partial => 'table_head_filter', :locals => {:f => f} %>
          <td></td>
        </tr>
      </thead>
      <tbody>
        <%= render :partial => 'table_row_container', :collection => collection %>
      </tbody>
    </table>
    <%= paginate %>
  <% end %>
</div>