<% r = table_row %>

<td><%= link_to r.person.full_name,r.person %></td>
<td><%= link_to r.competition.name,r.competition %></td>
<td><%= link_to r.klass.short_name,r.klass %></td>
<td><%= r.position %></td>
<td><%= r.time %></td>
<td><%= r.time_diff %></td>
<td><%= r.points %></td>
<td><%= r.points_string %></td>
