
<% r = table_row %>

<td><%= link_to r.person.full_name,r.person %></td>
<td><%= link_to r.competition.name,r.competition %></td>
<td><%= r.competition.date %></td>
<td><%= link_to r.klass.short_name,r.klass %></td>
<td><%= r.position %></td>
<td><%= r.time_string %></td>
<td><span title="<%= r.points_string %>"><%= r.points %></span></td>
<td class="small" title="<%= r.created_at %>"><%= r.created_at.to_s[0..9] %></td>
<td class="small" title="<%= r.updated_at %>"><%= r.updated_at.to_s[0..9] %></td>