<% title "Rapport"  %>
<script type="text/javascript">
  var chart;
  $(document).ready(function() {
    chart = new Highcharts.Chart({
      chart: {
        renderTo: 'result',
        defaultSeriesType: 'line',
        marginBottom: 100
      },
      credits: {
        enabled: false
      },
      title: {
        text: 'Framsteg under säsong, visar de <%= @count %> bästa ',
        x: -20 //center
      },
      subtitle: {
        text: '',
        x: -20
      },
      xAxis: {
        categories: <%= raw(@competitions.map do |c| 

    link_to c.name[0..9],c 
  end.to_json) %>,
        labels: {
          rotation: -90,
          y: 35
        }
      },
      yAxis: {
        title: {
          text: 'Poäng'
        },
        plotLines: [{
            value: 0,
            width: 1,
            color: '#808080'
          }],
        min: 0
      },
      plotOptions: {
        series: {
          lineWidth: 1,
          step:false
        }
      },
      tooltip: {
        formatter: function() {
          text = this.y;
          if(this.point.x - 1 >= 0){
            last = this.series.data[this.point.x - 1].y
        
            if (this.y > last){
              text = "Okade sin totala poang i " + this.series.xAxis.categories[this.point.x] + " med " + (this.y - last)  + " till " + this.y
            }
          }
          return '<b>'+ this.series.name +'</b><br/>'+
            text ;
        }
      },
      legend: {
        layout: 'vertical',
        align: 'left',
        verticalAlign: 'top',
        x: 70,
        y: 30,
        borderWidth: 0 
      },
      series: <%= raw @diagram_report.to_json %>

      /*[{
         name: 'Tokyo',
         data: [7.0, 6.9, 9.5, 14.5, 18.2, 21.5, 25.2, 26.5, 23.3, 18.3, 13.9, 9.6]
      }, {
         name: 'New York',
         data: [-0.2, 0.8, 5.7, 11.3, 17.0, 22.0, 24.8, 24.1, 20.1, 14.1, 8.6, 2.5]
      }, {
         name: 'Berlin',
         data: [-0.9, 0.6, 3.5, 8.4, 13.5, 17.0, 18.6, 17.9, 14.3, 9.0, 3.9, 1.0]
      }, {
         name: 'London',
         data: [3.9, 4.2, 5.7, 8.5, 11.9, 15.2, 17.0, 16.6, 14.2, 10.3, 6.6, 4.8]
      }]
       */
    });


  });

</script>
<p>
  <%= form_tag report_path  do %>
    År: <%= select_tag "year", options_for_select(@years,@year) %> 
    Kategori: <%= select_tag "category", options_for_select(@categories,@category) %> 
    Antal (max <%= Person.count %>): <%= text_field_tag "count",@count, :size => 3 %>
    <input type="submit" value="Uppdatera"/>
    <input name="csv" type="submit" value="Ladda ner"/>
  <% end %>
<p/>
<div id="result"></div>


<table>
  <tr>
    <th>Ranking</th>
    <th>Löpare</th>
    <th>Poäng</th>

  </tr>
  <%= render :partial =>'row', :collection => @report %>
</table>