<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) || "Untitled" %></title>
    <%= stylesheet_link_tag "application" %>
    <%= stylesheet_link_tag "jquery-ui-1.8.5.custom",%>
    <%= javascript_include_tag "jquery-1.4.2.min",
      "jquery-ui-1.8.5.custom.min",
      'jquery.ui.datepicker-sv',
      'rails',
      'highcharts.src.js' ,
      'modules/exporting.src.js',
      'app' %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>

    <div id="menu" class="ui-corner-all">
      <%= render_navigation %>
    </div>
    <div id="container" class="ui-corner-all">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
<%#= content_tag :h1, yield(:title) if show_title? %>
      <%= yield %>
    </div>
    <div style="display: none">
      <div title="laddar" id="loading-dialog"><%= image_tag 'spinner.gif' %></div>
    </div>
  </body>
</html>
