<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) || "Untitled" %></title>
    <%= stylesheet_link_tag "application" %>
    <%= stylesheet_link_tag "jquery-ui-1.8.5.custom"%>
    <%= javascript_include_tag "jquery-1.4.2.min",
      "jquery-ui-1.8.5.custom.min",
      'jquery.ui.datepicker-sv',
      'rails',
      'highcharts.src.js' ,
      'modules/exporting.src.js',
      'app' %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
    <link rel="shortcut icon" href="/favicon.ico" /> 
  </head>
  <body>
    <div id="wrapper">
      <div id="menu" class="ui-corner-all">
        <div style="float:right"><%= image_tag "g5413.png", :class => "logo" %></div>
       <div style="float:right">Senast uppdaterad: <%= Competition.order("updated_at").last.updated_at.localtime.strftime("%Y-%m-%d %H:%M:%S") rescue "-" %> </div>
        <%= render_navigation %>
        
        <div style="clear:both"></div>
      </div>
      <div id="container" class="ui-corner-all">
        <% flash.each do |name, msg| %>
          <%= content_tag :div, msg, :id => "flash_#{name}" %>
        <% end %>
<%#= content_tag :h1, yield(:title) if show_title? %>
        <%= yield %>
      </div>
      <div style="display: none">
        <div title="laddar" id="loading-dialog"><%= image_tag 'spinner.gif' %></div>
      </div>
    </div>
  </body>
</html>
